<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="SiteUrl" value="http://localhost:4200/home" />
    <add key="RegisterUrl" value="Usuario/Registrar" />
    <add key="LoginUrl" value="Usuario/Login" />
    <add key="FolderPicture" value="\ScreenShots\" />
    <add key="ChromeDrive" value="BrowserDriver\" />

    <add key="TestUserName" value="leonardosimoura@gmail.com" />
    <add key="TestPassword" value="Teste@123" />
    <add key="BrowserType" value="1" />
  </appSettings>

  <specFlow>
    <language feature="pt-BR" />
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
</configuration>