<app-menu-superior></app-menu-superior>
<div class="container main-container">

<h2>
  Usuários
</h2>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>
          Id
      </th>
      <th>
          Nome
      </th>
      <th>
          Email
      </th>
      <th></th>
  </tr>
  </thead>
    
<tbody>
     <tr *ngFor="let usuario of usuarios">
        <td> {{usuario.usuarioId}} </td>
        <td> {{usuario.nome}} </td>
        <td> {{usuario.email}} </td>
        <td>
          <a href="javascript:void()" class="btn btn-warning"> Editar <i class="fa fa-edit"> </i> </a>
          <a href="javascript:void()" class="btn btn-danger"> Excluir <i class="fa fa-trash-o"> </i> </a>
        </td>
      </tr> 
</tbody>
</table>

<button type="button"  class='btn btn-success' value="Carregar" (click)="carregarUsuarios()" >Carregar </button>
</div>